
@{
    ViewData["Title"] = "OrdenCliente";
}

<h1>OrdenCliente</h1>

<h4>Nombre: @ViewData["Nombre"]</h4>
<h4>Direccion: @ViewData["Direccion"]</h4>
<h4>Nit: @ViewData["Nit"]</h4>
<h4>Medicinas: @ViewData["Medi"]</h4>
<h4>Total: @ViewData["Total"]</h4>

<form asp-action="Index" class="text-center">
    <div class="form-group">
        <input type="submit" value="Volver al Home" class="btn btn-primary" />
    </div>
</form>